<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat"
/>
<div class="main">
  <div class="picture">
    <img
      src="https://images.pexels.com/photos/1727658/pexels-photo-1727658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="Woman Statue, Zack Jarosz"
    />
  </div>
  <div class="text">
    <h1 routerLink="record">duy</h1>
    <p class="tr">
      Duyguları yansıtabilen, taşıyabilen, saklayabilen kelimeler var.
      Kelimelerin arkasına gizlenen, bazense hiç gizlenmeyen melodiler...
      Hislerim, ağzımdan çıkan kelimeler, sesimin tonu, yüksekliği, güveni,
      güvensizliği ve titreşmesi beni anlatıyor. Bazen duyamıyorum hiçbir şeyi,
      duygulardan, bedenimden, zihnimden taşan sesten. Böyle anlarda kendi
      melodimi, hislerimi, titreşimimi, ritmimi duysam neye benzerdi?
      Duygularımı duysam, müzik olsam?
    </p>
    <p class="en">
      Some words can reflect, transmit, or hide emotions. Melodies that
      sometimes hide behind words, sometimes not. My feelings, words coming out
      of my mouth, tone, height, trust, insecurity, and vibration of my voice
      tell me. Sometimes I can't hear anything, as the sound overpowers my
      emotions, my body, my mind. How would it feel if I could hear my melody,
      feelings, vibration, a rhythm at such moments? What if I hear my emotions
      become the music?
    </p>
  </div>
</div>
